@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-1: rgb(15, 15, 15);

}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 1.2rem;
    background-image: url(../img/Black_Animal_Paw_Pattern_generated.jpg);
    background-repeat: repeat;
    background-size: 50%;
}
.header {
    width: 100%;
    height: 50vh;

}
.header__img {
    width: 100%;
    height: 100%;
    background-image: url(../img/joe-caione-qO-PIF84Vxg-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.header__h2{
    position: absolute;
    color: #ddd;
    width: 40%;
    top: 10vh;
    left: 4%;
    font-size: 3rem;
}

.contenedor {
    width: 90%;
    margin: 10vh auto;
    border-radius: 15px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    color: var(--color-1);
    padding: 5vh 2%;
}
#form {
    width: 48%;
    text-align: left;

}

.resultados {
    
    width: 48%;
    
}

.form-group label{
    font-size: 2rem;
}
.form-group {
    margin-bottom: 2vh;
}
.form-control{
    padding: 10px;
}
#form h3, .resultados h3{
    text-align: center;
    font-size: 2.2rem;
}
#form h3::after, .resultados h3::after{
    content: "";
    display: block;
    height: 5px;
    background-color: tomato;
    width: 25%;
    margin: 1vh auto 2vh;
}
.resultados, #form{
    background-color: #ffebcd50;
    box-shadow: 0 0 15px #00000020;
    border-radius: 15px;
    padding: 15px;
}

footer{
    height: 10vh;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    line-height: 10vh;
    font-size: 1rem;
}